<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
        <script src="https://unpkg.com/aframe-look-at-component@0.8.0/dist/aframe-look-at-component.min.js"></script>
        <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar-nft.js"></script>
    </head>

    <body style="margin: 0; overflow: hidden;">
        <a-scene
            embedded
            loading-screen="enabled: false;"
            arjs="sourceType: webcam; debugUIEnabled: false;"
        >
            <a-assets>
                <a-asset-item
                    id="sound"
                    src="{{assetPath}}"
                    response-type="arraybuffer"
                ></a-asset-item>
            </a-assets>

            <a-entity
                look-at="[gps-camera]"
                id="sound-entity"
                sound="src: #sound"
                emitsevent
                autoplay="false"
                gps-entity-place="latitude: {{latitude}}; longitude: {{longitude}};"
            ></a-entity>

            <a-camera gps-camera rotation-reader></a-camera>
        </a-scene>
    </body>
</html>
